{% trans_default_domain 'FOSUserBundle' %}

<section id="wrapper">
    <div class="login-register" style="background-image:url('/assets/images/background/login-bg.png');">

        <div class="login-box card">
{#            <span>10.5.95.154</span>#}
{#            <span>10.6.30.154</span>#}
            <img src="/assets/images/tbxProLogo.png" alt="tbxPro" class="col-md-12" style="margin: 0px; padding: 5%;">
        </div>
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" id="loginform" action="{{ path("fos_user_security_check") }}" method="post">
                    <h3 class="text-center m-b-20">Oturum Aç</h3>
                    <br>
                    {% if error %}
                        <div style="color: red;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        <br>
                    {% endif %}
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" class="form-control" placeholder="Kullanıcı Adı"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="password" id="password" name="_password" required="required" autocomplete="current-password" class="form-control" placeholder="Şifre"/>
                        </div>
                    </div>
                    <br><br>
                    <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20">
                            <input type="submit" id="_submit" name="_submit" value="Giriş Yap" class="btn btn-block btn-lg btn-info btn-rounded"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>