{% extends 'layout/base.html.twig' %}

{% block title %}Edit Team{% endblock %}

{% block body %}

    <h1 style="padding: 20px">Takım Düzenle</h1>


<div class="col-lg-12" style=" background-color: white;  margin: auto; padding: 25px;">
    <a class=" btn btn-info" style="float: right;margin-bottom: 20px;" href="{{ path('team_index') }}">Listeye Geri Dön</a>

    {{ include('team/_form.html.twig', {'button_label': 'Kaydet'}) }}
    {{ include('team/_delete_form.html.twig') }}

    <br/>
    <br/>
</div>


{% endblock %}
