{% extends 'layout/base.html.twig' %}

{% block title %}New FormQuestionOption{% endblock %}

{% block body %}
    <h1>Create new FormQuestionOption</h1>

    {{ include('form_question_option/_form.html.twig') }}

    <a href="{{ path('form_question_option_index') }}">back to list</a>
{% endblock %}
{% block customScript %}
    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });
    </script>

{% endblock %}
