{% extends 'base.html.twig' %}

{% block title %}Edit SiebelLog{% endblock %}

{% block body %}
    <h1>Edit SiebelLog</h1>

    {{ include('siebel_log/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('siebel_log_index') }}">back to list</a>

    {{ include('siebel_log/_delete_form.html.twig') }}
{% endblock %}
