<form method="post" action="{{ path('evaluation_extra_source_delete', {'id': evaluation_extra_source.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evaluation_extra_source.id) }}">
    <button class="btn">Delete</button>
</form>
