{% extends 'base.html.twig' %}

{% block title %}Edit UserSkill{% endblock %}

{% block body %}
    <h1>Edit UserSkill</h1>

    {{ include('user_skill/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_skill_index') }}">back to list</a>

    {{ include('user_skill/_delete_form.html.twig') }}
{% endblock %}
