{% extends 'base.html.twig' %}

{% block title %}New UserSkill{% endblock %}

{% block body %}
    <h1>Create new UserSkill</h1>

    {{ include('user_skill/_form.html.twig') }}

    <a href="{{ path('user_skill_index') }}">back to list</a>
{% endblock %}
