<form method="post" action="{{ path('queues_members_dynamic_delete', {'id': queues_members_dynamic.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ queues_members_dynamic.id) }}">
    <button class="btn">Delete</button>
</form>
