{% extends 'base.html.twig' %}

{% block title %}Edit RegisterLog{% endblock %}

{% block body %}
    <h1>Edit RegisterLog</h1>

    {{ include('register_log/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('register_log_index') }}">back to list</a>

    {{ include('register_log/_delete_form.html.twig') }}
{% endblock %}
