{% extends 'layout/base.html.twig' %}
{% block customCss %}
    {#<link rel="stylesheet" href="/assets/css/jquery.dataTables.min.css">#}
    <style>
        .dt-buttons{
            margin-left: 30px!important;
        }
    </style>
{% endblock %}
{% block customScript %}
    {#<script src="/assets/js/jquery.dataTables.min.js"></script>#}
    <script src="/assets/js/ccPulseFunction.js"></script>
    <script type="text/javascript">
        // TAKIM BAZLI CHAT PERSONELİ BAŞLANGIÇ
        $("#btnChat").click(function () {
            $("#tableTitle").html("TAKIM BAZLI CHAT PERSONELİ");
            displayNoneTableDiv();
            loadedModalStart();
            var placeholderSelect = "Takım Seçiniz..";
            var allSelect = "Tüm Takımlar";
            var listSelectDatalink = "/chat/ccPulse/team-select";
            listTableDatalink = "/chat/ccPulse/team-chat-get-select-all";
            listSelectData(placeholderSelect,allSelect,listSelectDatalink);
            displayBlockSelect();
        });
        // TAKIM BAZLI CHAT PERSONELİ BİTİŞ
    </script>
{% endblock %}
{% block title %}Anlık İzleme{% endblock %}
{% block body %}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Anlık İzleme</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                <li class="breadcrumb-item active">Anlık İzleme</li>
            </ol>
            {#<button type="button" class="btn btn-info  d-lg-block m-l-15"><i class="far fa-save"></i> Kaydet</button>#}
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <!-- SELECT BUTTONS START -->
                <div class="cc_pulse_btn_div">
                    <button type="button" class="btn btn-primary d-lg-block m-l-15 cc_pulse_btn" id="btnChat">
                        CHAT
                    </button>
                </div>
                <!-- SELECT BUTTONS FINISH -->

                <div class="col-lg-12">
                    <button type="button" class="btn btn-warning" id="btnRefreshTable" onclick="tenSecondLoadTable(datatableupdatelink,tableParam);" style="float: right!important;">
                        YENİLE
                    </button>
                    <h1 id="tableTitle"></h1>
                </div>


                <!-- TABLE & SELECT START -->
                <select class="form-control" id="listSelect" style="display: none">
                </select>

                <div id="listTableDiv" class="tabcontent">
                    <div class="table-responsive m-t-40">
                        <table id="listTable"
                               class="table table-bordered table-striped full-color-table full-primary-table hover-table">

                        </table>
                    </div>
                </div>
                <!-- TABLE & SELECT FINISH -->



                <!-- MODAL START -->
                <div class="modal fade" id="loadCCPulse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document" style="max-width: 80%!important;">
                        <div class="modal-content col-lg-10" style="max-width: 100%!important;">
                            <div class="modal-body">
                                <h1 id="LoadCCPulseText"></h1>
                                <div class="outer" id="loadModalAnimation">
                                    <div class="inner">
                                        <div class="small"></div>
                                        <div class="small"></div>
                                        <div class="small"></div>
                                        <div class="small"></div>
                                    </div>
                                    <div class="big">
                                        <div class="small"></div>
                                    </div>
                                    <div class="big">
                                        <div class="small"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MODAL FINISH -->
            </div>
        </div>
    </div>
</div>
{% endblock %}