
    <div align="center">
        <table class="m_-4711938670381719438MsoNormalTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
            <tr style="height:172.5pt">
                <td style="background:#e43a54;padding:0cm 0cm 0cm 0cm;height:172.5pt">
                    <p class="MsoNormal" style="text-align:center" align="center"><span><img id="m_-4711938670381719438_x0000_i1025" width="32" height="32"><u></u><u></u></span></p>
                </td>
            </tr>
            <tr style="height:37.5pt">
                <td style="background:#e43a54;padding:0cm 0cm 0cm 0cm;height:37.5pt">
                    <p class="MsoNormal" style="text-align:center" align="center"><span>Sayın&nbsp;YASIN YAMAN
                        <u></u><u></u></span></p>
                </td>
            </tr>
            <tr style="height:150.0pt">
                <td style="background:#0053a0;padding:0cm 0cm 0cm 0cm;height:150.0pt">
                    <div>
                        <p class="MsoNormal" style="text-align:center" align="center"><span>Göstermiş olduğunuz<u></u><u></u></span></p>
                    </div>
                    <div>
                        <p class="MsoNormal" style="text-align:center" align="center"><span>üstün performans için<u></u><u></u></span></p>
                    </div>
                    <div>
                        <p class="MsoNormal" style="text-align:center" align="center"><span>teşekkür eder,
                          <u></u><u></u></span></p>
                    </div>
                    <div>
                        <p class="MsoNormal" style="text-align:center" align="center"><span>başarılarınızın
                          <u></u><u></u></span></p>
                    </div>
                    <div>
                        <p class="MsoNormal" style="text-align:center" align="center"><span>devamını dileriz.
                        </span><span class="m_-4711938670381719438text-smiley-face"><span style="font-size:15.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#f2f2f2"><img goomoji="263a" data-goomoji="263a" style="margin:0 0.2ex;vertical-align:middle;max-height:24px" alt="☺" src="https://mail.google.com/mail/e/263a" data-image-whitelisted="" class="CToWUd"></span></span><span class="m_-4711938670381719438text-smiley-face"><span style="font-size:15.0pt;font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;;color:#f2f2f2"></span></span><span><u></u><u></u></span></p>
                    </div>
                </td>
            </tr>
            <tr style="height:67.5pt">
                <td style="background:#0053a0;padding:0cm 0cm 0cm 0cm;height:67.5pt">
                    <div>
                        <p class="MsoNormal" style="text-align:center" align="center"><span>Performans Yönetim<u></u><u></u></span></p>
                    </div>
                    <div>
                        <p class="MsoNormal" style="text-align:center" align="center"><span>Sistemleri Şefliği<u></u><u></u></span></p>
                    </div>
                </td>
            </tr>
            <tr style="height:67.5pt">
                <td style="background:#0053a0;padding:0cm 0cm 0cm 0cm;height:67.5pt">
                    <p class="MsoNormal" style="text-align:center" align="center"><span><a href="http://10.6.30.77:8080/#/evaluationLink/397504" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://10.6.30.77:8080/%23/evaluationLink/397504&amp;source=gmail&amp;ust=1562137168590000&amp;usg=AFQjCNFk2Uc8mU2FgxYGnPsBgq8XaKqIAA">EVA</a>
                        <u></u><u></u></span></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

