<form method="post" action="{{ path('acw_type_delete', {'id': acw_type.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ acw_type.id) }}">
    <button class="btn btn-dange">Sil</button>
</form>
