{% extends "layout/base.html.twig" %}
{% block title %}Pbx Yönetici{% endblock title %}
{% block customCss %}

{% endblock customCss %}

{% block customScript %}

{% endblock customScript %}

{% block body %}
<h1>Hello World</h1>
    <a href="{{ path('pbx_managament_home_page') }}">Pbx Managament</a>
{% endblock body %}

