{% extends 'base.html.twig' %}

{% block title %}New Greeting{% endblock %}

{% block body %}
    <h1>Create new Greeting</h1>

    {{ include('greeting/_form.html.twig') }}

    <a href="{{ path('greeting_index') }}">back to list</a>
{% endblock %}
