<form method="post" action="{{ path('calls_delete', {'idx': call.idx}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ call.idx) }}">
    <button class="btn">Delete</button>
</form>
