{% extends 'layout/base.html.twig' %}
{% block title %}Durak IVR{% endblock %}
{%  block customCss %}
    <style>
        .dt-buttons{
            margin-left: 20px;
        }
    </style>
{%  endblock %}
{% block customScript %}
    <script>
        var tableFilling=false;
        function displayNoneTableDiv() {
            if (tableFilling==true){
                $("#stationListTableDiv").css("display","none");
                $('#stationListTable').dataTable().fnDestroy();
                $('#stationListTable').html("");
                tableFilling=false;
            }

        }
        function displayBlockTableDiv() {
            $("#stationListTableDiv").css("display","block");
        }
        function ModalStart(modalText=null) {
            $("#loadStation").modal({
                backdrop:'static',
                keyboard: false,
                show: true,
                escapeClose: false,
                clickClose: false,
                showClose: false
            });
            if(modalText==null){
                $("#loadStationText").html("Lütfen Bekleyiniz");
            }else {
                $("#loadStationText").html(modalText);
            }
        }
        function ModalFinish() {
            $("#loadStation").modal('hide');
            $("#loadStationText").html("");
        }
        function stationValidateForm() {
            ModalStart();
            $.ajax({
                type:'POST',
                url:'/stationQuestion',
                data:$('#formStationIdSelect').serialize(),
                success:function (data) {
                    console.log(data);
                    if ($.isArray(data)==true){
                        displayNoneTableDiv();
                        displayBlockTableDiv();
                        $('#stationListTable').DataTable({
                            dom:'lBfrtip',
                            "language":{
                                url:'/assets/Turkish.json'
                            },
                            columns: [
                                { data: "dateRange" , name: "dateRange" , title: "Tarih"},
                                // { data: "dateRangeTime" , name: "dateRange" , title: "Tarih 24/15 dklık<br/>veya Saatlik"},
                                { data: "callPhone" , name: "callPhone" , title: "TELEFON"},
                                { data: "stationCode" , name: "stationCode" , title: "DURAK NUMARASI"},
                                { data: "dial" , name: "dial" , title: "TUŞLAMA"},
                                { data: "createsAt" , name: "createsAt" , title: "İŞLEM TARİHİ"},
                            ],
                            order:[],
                            data:data
                        });
                        setTimeout(
                            function () {
                                ModalFinish();
                            },1000);
                        tableFilling=true;
                    } else {
                        ModalStart(data);
                        $("#loadModalAnimation").css("display","none");
                        $(".modal-content").css("background-color","red");
                        $(".modal-content").css("color","white");
                        setTimeout(
                            function () {
                                ModalFinish();
                                $("#loadModalAnimation").css("display","block");
                                $(".modal-content").css("background-color","white");
                                $(".modal-content").css("color","black");
                            },2000);
                    }
                },
                error:function (data) {
                    console.log(data);
                    var errSms = "Beklemedik bir Hata Oluştu";
                    ModalStart(errSms);
                    $("#loadModalAnimation").css("display", "none");
                    $(".modal-content").css("background-color", "red");
                    $(".modal-content").css("color", "white");
                    setTimeout(
                        function () {
                            ModalFinish();
                            $("#loadModalAnimation").css("display", "block");
                            $(".modal-content").css("background-color", "white");
                            $(".modal-content").css("color", "black");
                        }, 2000);
                }
            });
        }

    </script>
{% endblock %}


{% block body %}
    <div class="form-group col-md-4">
        <h1>Durak IVR</h1>

        {{ form_start(form, {'attr': {'id': 'formStationIdSelect','onsubmit':'return false'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <input type="button" onclick="stationValidateForm()" class="btn" value="Listele" style="background-color: limegreen">
    </div>

    <div class="table-responsive m-t-40">
        <div class="dataTables_wrapper dt-bootstrap4">
            <!-- TABLE & SELECT START -->
            <div id="stationListTableDiv" class="tabcontent">
                <div class="table-responsive m-t-40">
                    <table id="stationListTable" class="table table-bordered table-striped full-color-table full-primary-table hover-table">

                    </table>
                </div>
            </div>
            <!-- TABLE & SELECT FINISH -->


            <!-- MODAL START -->
            <div class="modal fade" id="loadStation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 80%!important;">
                    <div class="modal-content col-lg-10" style="max-width: 100%!important;">
                        <div class="modal-body">
                            <h1 id="loadStationText"></h1>
                            <div class="outer" id="loadModalAnimation">
                                <div class="inner">
                                    <div class="small"></div>
                                    <div class="small"></div>
                                    <div class="small"></div>
                                    <div class="small"></div>
                                </div>
                                <div class="big">
                                    <div class="small"></div>
                                </div>
                                <div class="big">
                                    <div class="small"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MODAL FINISH -->
        </div>
    </div>
{% endblock %}