{% extends 'layout/base.html.twig' %}

{% block title %}Kart Kapatma{% endblock %}
{%  block customCss %}
    <style>
        .dt-buttons{
            margin-left: 20px;
        }
    </style>
{%  endblock %}
{% block customScript %}
    <script>
        var tableFilling = false;
        function displayNoneTableDiv() {
            if (tableFilling == true){
                $("#ivrListTableDiv").css("display","none");
                $('#ivrListTable').dataTable().fnDestroy();
                $('#ivrListTable').html("");
                tableFilling = false;
            }
        }
        function displayBlockTableDiv() {
            $("#ivrListTableDiv").css("display","block");
        }
        function loadedModalStart(modalText=null) {
            $("#loadCardClose").modal({
                backdrop: 'static',
                keyboard: false,
                show: true,
                escapeClose: false,
                clickClose: false,
                showClose: false
            });
            if (modalText == null){
                $("#loadCardCloseText").html("Lütfen Bekleyiniz");
            }else{
                $("#loadCardCloseText").html(modalText);
            }

        }
        function loadedModalFinish() {
            $("#loadCardClose").modal('hide');
            $("#loadCardCloseText").html("");
        }
        function validateForm() {
            loadedModalStart();
            $.ajax({
                type: 'POST',
                url: '/cardclose',
                data: $('#formIdSelect').serialize(),
                success: function (data) {
                    console.log(data);
                    if ($.isArray(data) == true){
                        displayNoneTableDiv();
                        displayBlockTableDiv();
                        $('#ivrListTable').DataTable({
                            dom: 'lBfrtip',
                            "language": {
                                url: '/assets/Turkish.json'
                            },
                            columns: [
                                { data: "dateRange" , name: "dateRange" , title: "Tarih"},
                                // { data: "dateRangeTime" , name: "dateRange" , title: "24/15 dklık<br/>veya Saatlik"},
                                { data: "dial" , name: "dial" , title: "TUŞLAMA"},
                                { data: "callerNumber" , name: "callerNumber" , title: "ARAYAN NUMARA"},
                                { data: "cardID" , name: "cardID" , title: "KART NUMARASI"},
                                { data: "cardName" , name: "cardName" , title: "KART TİPİ"},
                                { data: "cardPressDate" , name: "cardPressDate" , title: "VERİLİŞ TARİHİ"},
                            ],
                            order:[],
                            data:data
                        });
                        tableFilling = true;
                        setTimeout(
                            function () {
                                loadedModalFinish();
                            },1000);
                    }else {
                        loadedModalStart(data);
                        $("#loadModalAnimation").css("display","none");
                        $(".modal-content").css("background-color","red");
                        $(".modal-content").css("color","white");
                        setTimeout(
                            function()
                            {
                                loadedModalFinish();
                                $("#loadModalAnimation").css("display","block");
                                $(".modal-content").css("background-color","white");
                                $(".modal-content").css("color","black");
                            }, 2000);
                    }
                },
                error:function (data) {
                    console.log(data);
                    var errSms = "Beklemedik bir Hata Oluştu";
                    loadedModalStart(errSms);
                    $("#loadModalAnimation").css("display", "none");
                    $(".modal-content").css("background-color", "red");
                    $(".modal-content").css("color", "white");
                    setTimeout(
                        function () {
                            loadedModalFinish();
                            $("#loadModalAnimation").css("display", "block");
                            $(".modal-content").css("background-color", "white");
                            $(".modal-content").css("color", "black");
                        }, 2000);
                }
            });
        }
    </script>

{% endblock %}

{% block body %}
    <div class="form-group col-md-4">

        <h1>Kart Kapatma</h1>

        {{ form_start(form, {'attr': {'id': 'formIdSelect','onsubmit':'return false'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <input type="button" onclick="validateForm()" class="btn" value="Listele" style="background-color: limegreen">
    </div>

    <div class="table-responsive m-t-40">
        <div class="dataTables_wrapper dt-bootstrap4">
            <!-- TABLE & SELECT START -->
            <div id="ivrListTableDiv" class="tabcontent">
                <div class="table-responsive m-t-40">
                    <table id="ivrListTable" class="table table-bordered table-striped full-color-table full-primary-table hover-table">

                    </table>
                </div>
            </div>
            <!-- TABLE & SELECT FINISH -->


            <!-- MODAL START -->
            <div class="modal fade" id="loadCardClose" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 80%!important;">
                    <div class="modal-content col-lg-10" style="max-width: 100%!important;">
                        <div class="modal-body">
                            <h1 id="loadCardCloseText"></h1>
                            <div class="outer" id="loadModalAnimation">
                                <div class="inner">
                                    <div class="small"></div>
                                    <div class="small"></div>
                                    <div class="small"></div>
                                    <div class="small"></div>
                                </div>
                                <div class="big">
                                    <div class="small"></div>
                                </div>
                                <div class="big">
                                    <div class="small"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MODAL FINISH -->
        </div>
    </div>
{% endblock %}