{% extends 'layout/base.html.twig' %}

{% block title %}New FormSection{% endblock %}

{% block body %}
    <h1>Create new FormSection</h1>

    {{ include('form_section/_form.html.twig') }}

    <a href="{{ path('form_section_index') }}">back to list</a>
{% endblock %}
