{% extends 'layout/base.html.twig' %}

{% block title %}Edit BreakGroup{% endblock %}

{% block body %}

    <h1 style="padding: 20px">Mola Grubu Güncelle</h1>
    <style>
        .aaa form button {
            float: right;
            margin: 5px;
        }
    </style>

    <div class="col-lg-12 aaa" style=" background-color: white;  margin: auto; padding: 25px;">
        <a class="btn btn-info " style="float: right;margin-bottom: 20px;" href="{{ path('break_group_index') }}">Listeye Geri Dön</a>


        {{ include('break_group/_form.html.twig', {'button_label': 'Kaydet'}) }}

        {{ include('break_group/_delete_form.html.twig') }}
        <br/>
        <br/>
    </div>
{% endblock %}
