<div align="center">
    <table class="m_-4711938670381719438MsoNormalTable" border="0" cellspacing="0" cellpadding="0">
        <tbody style="width: 280px;">
        <tr style="height: 172.5pt;">
            <td style="background: #e43a54; padding: 0cm 0cm 0cm 0cm; height: 172.5pt; width: 280px;">
                <p class="MsoNormal" style="text-align: center;" align="center"><img src="https://tbxdev.ibb.gov.tr/assets/images/tebrikFoto.jpg" /><u></u><u></u></p>
            </td>
        </tr>
        <tr style="height: 37.5pt;">
            <td style="background: #e43a54; padding: 0cm 0cm 0cm 0cm; height: 37.5pt;">
                <p class="MsoNormal" style="text-align: center;" align="center">Sayın&nbsp;{{ name }} <u></u><u></u></p>
            </td>
        </tr>
        <tr style="height: 150.0pt;">
            <td style="background: #0053a0; padding: 0cm 0cm 0cm 0cm; height: 150.0pt; color: white;">
                <div>
                    <p class="MsoNormal" style="text-align: center;" align="center">G&ouml;stermiş olduğunuz<u></u><u></u></p>
                </div>
                <div>
                    <p class="MsoNormal" style="text-align: center;" align="center">&uuml;st&uuml;n performans i&ccedil;in<u></u><u></u></p>
                </div>
                <div>
                    <p class="MsoNormal" style="text-align: center;" align="center">teşekk&uuml;r eder, <u></u><u></u></p>
                </div>
                <div>
                    <p class="MsoNormal" style="text-align: center;" align="center">başarılarınızın <u></u><u></u></p>
                </div>
                <div>
                    <p class="MsoNormal" style="text-align: center;" align="center">devamını dileriz. <span class="m_-4711938670381719438text-smiley-face"><span style="font-size: 15.0pt; font-family: 'Arial','sans-serif'; color: #f2f2f2;"> <img class="CToWUd" style="margin: 0 0.2ex; vertical-align: middle; max-height: 24px;" alt="☺" data-goomoji="263a" data-image-whitelisted="" /></span></span><u></u><u></u></p>
                </div>
            </td>
        </tr>
        <tr style="height: 67.5pt;">
            <td style="background: #0053a0; padding: 0cm 0cm 0cm 0cm; height: 67.5pt; color: white;">
                <div>
                    <p class="MsoNormal" style="text-align: center;" align="center">Performans Y&ouml;netim<u></u><u></u></p>
                </div>
                <div>
                    <p class="MsoNormal" style="text-align: center;" align="center">Sistemleri Şefliği<u></u><u></u></p>
                </div>
            </td>
        </tr>
        <tr style="height: 67.5pt;">
            <td style="background: #0053a0; padding: 0cm 0cm 0cm 0cm; height: 67.5pt;">
                <p class="MsoNormal" style="text-align: center; color: white;" align="center"><a href="www.bhmgrup.com" target="_blank" rel="noopener" data-saferedirecturl="#">BHM</a></p>
            </td>
        </tr>
        <tr style="height: 67.5pt;">
            <td style="background: white; padding: 0cm 0cm 0cm 0cm; height:67.5pt;">
                <p class="MsoNormal" style="text-align: center; color: white;" align="center"><a href="https://beyazmasa153.ibb.istanbul/quality/evaluation/{{ evaluationId }}" target="_blank" rel="noopener" data-saferedirecturl="#">Değerlendirmeye Git</a></p>
            </td>
        </tr>

        </tbody>
    </table>
</div>